

/* CONTENT STYLING */
.section-area {
    margin-left: 200px;
    margin-right: 50px;
    width: 100%;
    height: calc(100vh - 60px)
}

.section-container {
    width: calc(100% - 60px);
    /* height: calc(100% - 60px); */
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;

}

.section-table {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}

.section-table th,
.section-table td {
    padding: 15px;
    text-align: left;
}

.section-table th {
    font-weight: bold;
}

.create-btn {
    margin-top: 50px;
    text-align: center;
    /* font-size: 24px; */
    /* font-weight: bold; */
}

    .table-icon {
        display: none
    }