/*==================== CSS Reset ====================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.25rem = 20px, 1.5rem = 24px... */
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --hero-paragraph: 1.2125rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Logo Size ==========*/
  --logo-width: 6.881rem;
  --logo-height: 3.34rem;
  --form-logo-width: 7.2rem;
  --form-logo-height: 5rem;
  --footer-logo-width: 4rem;
  --footer-logo-height: 5rem;
  

  /*========== Header Padding ==========*/
  --header-pt: 0.75rem;
  --header-pb: 0.75rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --primary-hue-color: 240;
  --secondary-hue-color: 0;
  /* HSL Color Mode */
  --text-color-white: hsl(var(--secondary-hue-color), 0%, 100%);
  --text-color-purple: hsl(var(--primary-hue-color), 100%, 25%);
  --text-color-black: #000000;
  --body-first-color: hsl(var(--secondary-hue-color), 0%, 100%);
  --body-second-color: hsl(var(--primary-hue-color), 100%, 25%);
}
html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  padding-top: var(--header-pt);
  padding-bottom: var(--header-pb);
  background-color: var(--body-first-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-bottom: 5px;
}
.mobile-nav-toggle {
  display: none;
}
a {
  text-decoration: none;
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper button {
  display: none;
}
.logo-image {
  width: var(--logo-width);
  height: var(--logo-height);
}
.nav-aside {
  align-self: flex-end;
}
.nav-aside .navigation-desktop {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: var(--font-bold);
}
.navigation div {
  display: flex;
}
.navigation .nav-center {
  margin-right: 16rem;
}
.navigation li a {
  color: var(--text-color-purple);
  margin-left: 2.5rem;
}
.nav-right {
  display: flex;
  justify-content: space-between;
}
.sign-in {
  border: 2px solid hsl(var(--primary-hue-color), 100%, 25%);
  padding: 0.5rem 1.25rem;
  border-radius: 1000px;
  background-color: #ffffff;
  color: var(--text-color-purple);
  margin-right: 1.3rem;
}
.sign-up {
  background-color: hsl(var(--primary-hue-color), 100%, 25%);
  color: hsl(var(--secondary-hue-color), 0%, 100%);
  padding: 0.5rem 1.25rem;
  border-radius: 1000px;
  border-color: transparent;
}
.navigation li a:hover {
  opacity: 0.75;
}
.nav-right .sign-in:hover {
  background-color: var(--text-color-purple);
  color: #ffffff;
}
.nav-right .sign-up:hover {
  background-color: #ffffff;
  color: var(--text-color-purple);
  border: 2px solid hsl(var(--primary-hue-color), 100%, 25%);

}
.navigation-mobile {
  display: none;
}

/*==================== HERO SECTION ====================*/
.hero-wrapper {
  background-color: #fafafa;
}
.hero-section {
  height: 70vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2%;
}
.hero-text-wrapper {
  color: var(--text-color-purple);
  width: 40%;
}
.hero__image-container {
  width: 35%;
}
.hero-text-wrapper h2 {
  font-size: 2.725rem;
  line-height: 1.1;
}
.hero-text-wrapper p {
  font-size: var(--hero-paragraph);
  line-height: 1.3;
  font-weight: 600;
}
.swiper {
  width: 30%;
}
.swiper-wrapper {
  width: 90%;
}
.slide__image-wrapper {
  /* width: 40%; */
  z-index: 999;
}
.slide__image-wrapper {
  position: relative;
}
.slide__image-wrapper-1 img {
  object-fit: cover;
  /* height: 500px; */
  /* clip-path: circle(190px at 50% 50%); */
  /* clip-path: circle(320px at 350px 350px); Make first hero image rounded */
}
.slide__image-wrapper img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.swiper {
  /* width: 600px; */
  width: 42%;
  height: 300px;
}


.call-to-action {
  outline: none;
  border: 1px solid var(--body-second-color);
  color: var(--body-second-color);
  background: transparent;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: var(--font-bold);
}

/*==================== FEATURES SECTION ====================*/
.features-section {
  background-color: #fafafa;
  padding: 2rem 0;
}
/* .features-section-head {
  padding: 2rem 0;
} */
.section__head {
  text-align: center;
  color: #000080;
  font-size: var(--h1-font-size);
  padding: 2rem 0;
  font-weight: var(--font-semi-bold);
}
.features {
  background-color: #ffffff;
  border-radius: 10px;
}
.features__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 5px;
  flex-wrap: wrap;
}
.feature {
  display: flex;
  justify-content: space-between;
  width: 47%;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 0.7rem auto;
  font-size: 18px;
}
.feature-1,
.feature-5 {
  background-color: rgba(236, 243, 255, 0.6);
}
.feature-2,
.feature-6 {
  background-color: rgba(247, 223, 245, 0.6);
}
.feature-3 {
  background-color: rgba(250, 241, 225, 0.6);
}
.feature-4 {
  background: rgba(220, 245, 222, 0.6);
  align-content: center;
}
.feature img {
  align-self: flex-start;
}
.feature p {
  margin-left: 1rem;
  line-height: 1.5;
}

/*==================== SERVICES SECTION ====================*/
.services-section {
  background-color: #fff;
  padding: 2rem 0 4rem 0;
}
.services-section-heading {
  text-align: center;
  /* padding: 2rem 0; */
  color: var(--text-color-purple);
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}
.services__wrapper .service {
  display: flex;
  flex-wrap: wrap;
  /* height: 16.9rem; */
  justify-content: center;
}
.top__service .service__image-wrapper,
.bottom__service .service__image-wrapper {
  width: 30%;
}
.service__image-wrapper img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
}

.top__service .service__text {
  width: 30%;
  background-color: #fafafa;
  padding: 1rem 2rem;
  text-align: center;
  height: 270px;
}
.service__text-image {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem auto;
  width: 50px;
}
.service__text-image img {
  width: 100%;
}
.service__text h2 {
  margin-bottom: 1rem;
}
.service__text p {
  line-height: 1.5;
}

.bottom__cta {
  background-color: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 3rem;
}
.bottom__cta-content {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  align-items: center;
}
.bottom__cta-content p {
  font-size: var(--h1-font-size);
  color: var(--text-color-purple);
  width: 60%;
}
.bottom__cta-button {
  background-color: #000080;
  color: var(--text-color-white);
  width: 20%;
  padding: 0.9rem 0;
  text-align: center;
}

/*==================== FOOTER====================*/
.footer-area {
  background-color: #000080;
  color: #fff;
}
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* .footer-logo-image {
  width: var(--footer-logo-width);
} */
.footer-link {
  color: #fff;
}
.footer-link:hover {
  opacity: 0.75;
}
.footer-divider {
  height: 1px;
  margin-top: 1rem;
  background-color: #fff;
  border: none;
}

/*==================== MEDIA QUERIES ====================*/

/* For Tablets (min-width: 750px) and  */
@media (max-width: 1024px) {
  .logo-wrapper .mobile-nav-toggle {
    display: block;
    background: url("/front-end/Assets/icons/home-menu.svg");
    padding: 0.6rem;
    position: absolute;
    width: 1.4rem;
    aspect-ratio: 1;
    right: 2.5rem;
    top: 2rem;
    z-index: 9999;
    border: none;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/front-end/Assets/icons/close-svg.svg");
    background-repeat: no-repeat;
  }
  .nav-aside .navigation-desktop {
    display: none;
  }
  .nav-aside .navigation-mobile {
    display: block;
    flex-direction: column;
    position: fixed;
    list-style: none;
    width: 100%;
    top: 4.6rem;
    left: -100%;
    padding: min(2vh, 6rem) 0;
    font-size: 1.1rem;
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    transition: transform 350ms ease-in;
    font-weight: var(--font-semi-bold);
  }
  .nav-aside .navigation[data-visible="true"] {
    transform: translateX(100%);
  }
  .sign-in-link,
  .sign-up-link {
    margin: 1rem 0;
  }
  .navigation-mobile li {
    padding: 1.2rem 0;
    border-bottom: 1px solid #00000033;
  }
  .navigation-mobile .sign-up {
    color: white;
  }

  /* Hero Section  */
  .hero-text-wrapper h2 {
    font-size: 1.8rem;
  }
  .hero-text-wrapper p {
    font-size: 1rem;
  }
  .swiper {
    align-self: flex-end;
  }
  .feature p {
    line-height: 1.3;
  }

  .service__image-wrapper,
  .service__text {
    width: 40%;
  }
  .services__wrapper .service {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .top__service .service__image-wrapper,
  .top__service .service__text {
    width: 49%;
    height: auto;
  }

  .service .service-3 {
    order: 4;
  }
  .service .service-4 {
    order: 3;
  }
  .service .service-5 {
    order: 6;
  }
  .service .service-6 {
    order: 5;
  }

  .bottom__cta-content {
    padding: 2rem 4rem;
  }
  .bottom__cta-content p {
    font-size: 1.3rem;
  }
  .bottom__cta-content a {
    width: 25%;
  }
}

@media (max-width: 670px) {
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
  .hero-section {
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
    align-items: flex-start;
  }
  .hero-text-wrapper {
    width: 100%;
  }
  .hero__image-container {
    width: 100%;
    margin-top: 2rem;
  }
  .hero-text-wrapper h2 {
    font-size: 1.4rem;
  }
  .call-to-action {
    padding: 10px 30px;
  }

  .feature {
    width: 90%;
  }
  .section__head {
    font-size: 1.1rem;
  }
  .top__service .service__image-wrapper,
  .top__service .service__text {
    width: 100%;
    height: auto;
  }
  .service-1,
  .service-5,
  .service-3 {
    display: none;
  }
  .bottom__cta {
    margin-bottom: 0;
  }
  .bottom__cta-content {
    flex-direction: column;
    padding: 0.3rem;
    background-color: #eee;
  }
  .bottom__cta-content p {
    width: 90%;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    background-color: #fff;
    height: 5.2rem;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .bottom__cta-content a {
    width: 88%;
    margin-top: 2.4rem;
    position: absolute;
  }
  /* Break out bottom call to action fromits container */
  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    padding: 2rem 0;
  }
  .footer-logo-image {
    width: var(--footer-logo-width);
    height: var(--footer-logo-height);
    object-fit: contain;
    object-position: center;
}
  .footer-top {
    justify-content: space-between;
  }
  .footer-links-wrapper {
    flex-direction: column;
    width: 35%;
    gap: 0.8rem;
    font-size: 15px;
  }
  .footer-bottom {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .bottom__cta-content p {
    height: 6.8rem;
  }
  .bottom__cta-content a {
    margin-top: 4rem;
  }
}
